.woocommerceCheckoutPageWrap {

  display: block;
  margin: auto;
  width: 100%;
  max-width: 1450px;
  min-height: 500px;
  background: red;

  .checkoutHeader {
    height: 313px;
    width: 100%;
    max-width: 1448px;
    display: inline-block;
    vertical-align: top;
    background: url("../img/chekout-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .currentPage {
    font-size: 42px;
    font-family: 'Amsterdam-Deco-One';
    font-family: 'Amsterdam-Deco-Two';
    font-family: 'Amsterdam';
    color: $ammsterdam;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  h3{
    font-family: 'Gotham Pro';
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 18px;
    color: #262626;
  }

  .price {
    font-family: 'Gotham Pro';
    font-weight: 400;
    text-align: left;
    font-size: 16px;
  }

  .promoWrap{
    margin-top: 30px;

    label{
      color: #aa6e0d;
      font-size: 15px;
      font-weight: bold;
      font-family: 'Gotham Pro';
    }

    fieldset{
      border-bottom: 1px solid #6f6f6f;
      margin-bottom: 50px;

      input{
        line-height: 42px;
        height: 45px;
        font-size: 16px;
        font-family: 'PT Sans';
        background: transparent;
        border: none;

        ::-moz-placeholder{
          color: #262626;
          opacity: 0.33;
          font-size: 16px;
          line-height: 16px;
        }

        ::placeholder{
          color: #262626;
          opacity: 0.33;
          font-size: 16px;
          line-height: 16px;
        }
      }

    }

  }/*end of promowrap*/

  .bonus,
  .code{
    color: $black;
    width: 188px;
    height: 41px;
    line-height: 41px;
    text-decoration: none;
    text-align: center;
    border:1px solid #a2a2a2;
    display: inline-block;
    vertical-align: top;
    margin-top: 29px;

  }

  .dot {
    border-radius: 50px;
    width: 7px;
    height: 7px;
    display: block;
    background: $ammsterdam;
    display: block;
    margin: auto;
  }

  .navigation {
    margin: auto;
    display: block;
    width: 170px;

    width: 183px;
    height: 40px;
    background: url("../img/navigation.png");
    background-size: contain;

    .nav1,
    .nav2,
    .nav3 {
      display: inline-block;
      vertical-align: top;
      height: 55px;
      line-height: 55px;

      a {
        font-size: 43px;
        font-family: 'Amsterdam-Deco-One';
        font-family: 'Amm';
        font-family: 'Amsterdam';
        color: $ammsterdam;
        opacity: 0.5;
        position: relative;
        padding:0px 21px 0px 15px;

        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 7px;
          height: 31px;
        }

        &:hover {
          text-decoration:none ;
        }
      }


    }
  }/*end fo navigation*/
  .costumerData,
  .productList {


    display: inline-block;
    display: block;
    margin: auto;
    vertical-align: top;
    max-width: 710px;
    background: $colorproductlist;
    min-height: 667px;
    margin-top: 30px;

    .hereInner{
      display: block;
      margin: auto;
      width: 100%;
      max-width: 550px;
      outline: 1px solid;
    }

    .title {
      color:$cart;
      font-size:16px ;
      font-weight: bold;
      font-family: 'Gotham Pro';
      line-height: 20px;
      text-align: left;
      padding-top: 64px;

      label {
        display: block;
        text-align: left;
        color:$cartlabel;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Gotham Pro';
        line-height: 39.2px;
        padding-top: 10px;
      }

    }
  }

  .costumerData {
    background: $bgcustomer;

    .loginWoo {
      text-decoration: none;
      color: white;
      width:126px ;
      height: 39px;
      background: $ammsterdam;
      line-height: 39px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
    }

    .loginWooLabel {
      font-size: 12px;
      line-height: 17px;
      display: inline-block;
      vertical-align: top;
      font-family: 'Gotham Pro';
      font-size: 12px;
      padding-right: 21%;
    }

    .title {
      padding-bottom: 24px;
    }

    .hereStartForm{
      margin-top: 10px;
    }

    .form {

      fieldset{

        input {
          width: 100%;
          max-width: 460px;
          display: inline-block;
          height: 60px;
          line-height: 60px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #6f6d6a;

          //::-moz-placeholder{
          //  color: red;
          //}
          //
          //::placeholder{
          //  color: red;
          //}

        }
        ::-moz-placeholder{
          color: #262626;
          opacity: 0.33;
          font-size: 16px;
          line-height: 16px;
        }

        ::placeholder{
          color: #262626;
          opacity: 0.33;
          font-size: 16px;
          line-height: 16px;
        }
      }

    }

    .bottomOfForm {
      width: 90%;
      margin: auto;
      display: block;
      margin-top: 40px;

      fieldset{
        input{
          display: none;
        }

        label{
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url("../img/ok.png");
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          left: -13px;
          top: 11px;
        }
      }
    }

    .hereInner {
      .row {
        .col-md-3 {
          margin-left: 0;
          padding-left: 0;
        }
      }

      .row {
        margin: 0;
      }
    }

  }/*end of custom costumerData*/

  .productSummary {
    padding: 0;
    margin: 0;
    padding-top: 30px;

    .produclLi {
      display: inline-block;
      vertical-align: top;
      width: 100%;

      border-top: 1px solid #e3e3e3;

      position: relative;






      .name {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-family: 'PT Sans';
        font-weight: 400;
        color: #262626;
        padding-top: 11px;

      }

      .data{
        font-family: 'PT Sans';
        font-size: 14px;
        font-weight: bold;
      }

      .attribute {
        font-family: 'Gotham Pro';
        font-size: 13.66px;
        font-weight:400;
        color: #888888;

      }

      .color {

      }

      .sum {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 20px;
        top: 13px;


        em {
          font-style: normal;

        }
        em,
        label {
          font-size: 16px;
          font-family: 'Gotham Pro';
          font-weight: 400;
          color: #888;
        }
      }

      .cancel {
        position: absolute;
        right: 0px;
        top:19px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url("../img/cancel.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .row {
        margin: 0;

      }
     }/*End of produclLi*/

  }

  .totalWrap {

    @media (min-width: 1600px) {
      padding-left: 100px;
    }
  }

}

.woocommerce-page img,
.img-responsive {
  display: inline-block;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sliderWrap {

  .title {
    font-size: 38px;
    font-family: 'Gotham Pro';
    line-height: 45px;
    font-weight: bold;
    color:#262626;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .sliderContainer{
    background: url("../img/slider.png");
    background-size: cover;
    width: 100%;
    max-width:1500px;
    display: inline-block;
    height: 100px;
    height: 620px;
  }

}
/*Step 2*/
.hereStartFormStep2{

  .formStep2 {
    ul {
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        display: inline-block;
        width: 100%;
        height: 50px;

        fieldset{
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: 45px;

          input{
            display: none;

          }

          label{
            display: inline-block;
            background: #f2eada;
            border: 1px solid #282828;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            position: relative;
          }

          checked,
          .checked {
            &:after{
              display: block;
              content: '';
              position: absolute;
              left: 3px;
              top: 0px;
              width: 15px;
              height: 15px;
              position: relative;
              display: inline-block;
              background: #a86b06;
              border-radius: 50%;
            }
          }

          span{
            font-size: 16px;
            font-family: 'Gotham Pro';
            em{
              display: block;
              font-style: normal;
            }
          }
          position: relative;
          display: inline-block;
          width: 100%;

          .data{
            display: inline-block;
            width: 100%;
            vertical-align: top;
            position: absolute;
            top:0px;
            right: 117px;
            text-align: right;

            em {
              font-style: normal;
            }
          }
        }/*end of fieldset*/
      }
    }
  }

}

.magazinWrap{

  .title{
    font-size: 34px;
    strong {
      color:#a66a0c;
    }
  }

  .miniText{
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    color:#262626;
  }

  .lunchStep3{
    width: 273px;
    height: 57px;
    display: inline-block;
    background: #a66b0c;
    text-decoration: none;
    line-height: 57px;
    text-align: center;
    color: $white;
  }

  .map {
    background: url("../img/map.png");
    background-size: contain;
    width: 556px;
    height: 418px;
    background-repeat: no-repeat;
    background-position: center center;
  }


}

.paymentsGateway {

  li{
    list-style-type: none;

    input{
      display: none;
    }

    label {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: inline-block;
      background: $white;
      position: relative;

    }

    .checked{

      &:after{
        width: 6px;
        height: 6px;
        position: absolute;
        display: block;
        content: '';
        top:5px;
        left:5px;
        background: $black;
        border-radius: 50%;
      }

    }
  }

  .phone,
  .visa {

    .data{

    }
  }

  .yandex{

    .data{

    }
  }

  .paypal{

    .data{

    }
  }

  .qiwi{

    .data{

    }
  }
}

.endorder{
  width: 273px;
  height: 57px;
  display: inline-block;
  background: #a66b0c;
  text-decoration: none;
  line-height: 57px;
  text-align: center;
  color: #fff;
}