/*General MAIN style*/

/*---------------------------------------
   Typography
-----------------------------------------*/
body {
  font-family: 'Gotham Pro';
  background: $white;
}

/* FONT FACE LOADER */

@charset "UTF-8";


@font-face {
  font-family: 'Amsterdam-Deco-One';
  src: url('../fonts/ammsterdam/Amsterdam-Deco-One.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amm';
  src: url('../fonts/amm/Amsterdam-Deco-One.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amsterdam-Deco-Two';
  src: url('../fonts/11376.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amsterdam';
  src: url('../fonts/amsterdam/amsterdam.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro-Italic.ttf') format ('ttf');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro-Bold.ttf') format ('ttf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf') format ('ttf');
  font-weight: 700;
  font-style: normal;
}






/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: 'MetaPro';
  font-weight: normal;
}

/*Wrapper*/
.container {
  //min-width: 320px;
  padding: 0;

  @media (min-width: $screen-md-min){

  }
}

.content-area {
  //margin: 22px 10px 0px 10px;
  //margin-top: 50px;

  @media (min-width: $screen-md-min){
    margin: auto;
    //margin-top: 100px;
  }
}

.navbar {
  margin-bottom: 0!important;
}

*{
  outline: 0px solid red;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

li {
  list-style-type: none;
}



/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
  display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
  display: block;
}

.post {
  header {
    background: transparent;
  }

  .post-thumbnail {
    a img {
      border: none;
      width: 100%;
    }
  }
}

.hrefTypeOne {
  background: $postcolor!important;
}

.innerContainer {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  display: block;
}

.topTitle {
  position: absolute;
  top: -40px;
  left: -90px;
  z-index: 2;

  span {
    font-size: 2rem;
    position: absolute;
    width: 300px;
    top: 80px;
    left: 97px;
  }
}

@media (max-width: 1220px) {
  .topTitle {
    left: 10px;
  }
}

@media (max-width: 430px) {
  .topTitle {
    top: 0;

    img {
      display: none;
    }

    span {
      top: 0;
      left: 0;
    }
  }
}
